.task-list-container {
  padding: 20px;
}

.search-bar,
.sort-dropdown {
  margin-bottom: 20px;
  width: 100%;
}

.task-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.task-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

mat-card-header {
  background-color: #f5f5f5;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-chip {
  font-size: 12px;
  padding: 6px 12px;
}

.mat-chip-green {
  background-color: #4caf50;
  color: white;
}

.mat-chip-orange {
  background-color: #ff9800;
  color: white;
}

.mat-chip-gray {
  background-color: #9e9e9e;
  color: white;
}

button {
  margin-left: 10px;
}
.chip-done {
  background: #d1f7d1 !important;
  color: #2e7d32 !important;
}

.chip-progress {
  background: #ffe7c4 !important;
  color: #b26a00 !important;
}

.chip-pending {
  background: #e0e0e0 !important;
  color: #616161 !important;
}
.status-done {
  background-color: #a4e5a6 !important; /* green */
  color: white !important;
}

.status-inprogress {
  background-color: #d2b58a !important; /* orange */
  color: white !important;
}

.status-pending {
  background-color: rgb(188, 188, 188) !important;
  color: white !important;
}

